# P3> Find the best Rooms under each Type in each city based on Reviews

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("/home/nineleaps/Python_training/data/Sales_Data/cleaned_data.xlsx")
df.head()

,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
0,IND137,Mumbai,Unknown,Entire Home/Apartment,3200,2.000000,1,1,4.000000,2022-03-12
1,IND138,Bangalore,Indiranagar,Private Room,1800,1.959184,1,1,2.000000,2023-02-15
2,IND139,Delhi,Hauz Khas,Entire Home/Apartment,4200,3.000000,2,2,3.853659,2021-12-25
3,IND140,Chennai,Teynampet,Shared Room,1000,1.000000,2,1,1.000000,2022-05-05
4,IND141,Hyderabad,Jubilee Hills,Entire Home/Apartment,3800,3.000000,3,3,5.000000,2022-08-20

### Finding best rooms for each city ,Ptype by sorting and grouby

In [7]:
best_rooms = (
    df.sort_values(['City', 'PType', 'Reviews'], ascending=[True, True, False])  
    .groupby(['City', 'PType'])  
    .head(1) 
)

best_rooms

,ID,City,Location,PType,PPN,Nights,Beds,Baths,Reviews,Recent
8,IND145,Bangalore,Koramangala,Entire Home/Apartment,5200,3.0,3,3,6.000000,2022-02-28
42,IND179,Bangalore,Electronic City Phase 2,Private Room,1800,1.0,1,1,5.000000,2022-08-25
22,IND159,Bangalore,HSR Layout,Shared Room,700,1.0,2,1,2.000000,2022-03-23
19,IND156,Chennai,Thiruvanmiyur,Entire Home/Apartment,4800,3.0,2,3,5.000000,2022-02-14
9,IND146,Chennai,Anna Nagar,Private Room,1500,1.0,1,1,2.000000,2022-07-10
44,IND181,Chennai,Adyar,Shared Room,500,1.0,1,2,2.000000,2022-04-01
41,IND178,Delhi,Dilshad Garden,Entire Home/Apartment,6200,3.0,4,4,7.000000,2022-05-12
28,IND165,Delhi,Saket,Private Room,1800,1.0,1,1,5.000000,2022-08-15
12,IND149,Delhi,Dwarka,Shared Room,900,1.0,1,2,2.000000,2022-02-20
23,IND160,Hyderabad,Kondapur,Entire Home/Apartment,4200,3.0,3,3,6.000000,2022-09-15
18,IND155,Hyderabad,Secunderabad,Private Room,1000,1.0,1,1,3.000000,2022-07-04
36,IND173,Hyderabad,Manikonda,Shared Room,800,1.0,1,2,3.000000,2022-07-15
15,IND152,Kolkata,Camac Street,Entire Home/Apartment,3200,2.0,2,2,5.000000,2022-06-18
46,IND183,Kolkata,Lake Town,Private Room,1200,1.0,1,1,3.000000,2023-02-15
26,IND163,Kolkata,Salt Lake,Shared Room,500,1.0,1,2,2.000000,2022-05-01
27,IND164,Mumbai,BKC,Entire Home/Apartment,6500,3.0,4,4,7.000000,2022-04-10
11,IND148,Mumbai,Andheri,Private Room,1200,1.0,1,1,3.000000,2021-12-25
7,IND144,Mumbai,Colaba,Shared Room,800,1.0,1,1,3.853659,2022-06-18
45,IND182,Pune,Bavdhan,Entire Home/Apartment,5800,3.0,3,3,6.000000,2022-09-10
14,IND151,Pune,Shivaji Nagar,Private Room,2000,1.0,1,1,4.000000,2022-05-15