Cleaning Tollywood Dataset

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('/home/nineleaps/Python_training/Trainer_Assignment/tollywood_movies.xlsx')
df

,Unnamed: 0,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,0,MOV004,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,NaN,250,1810,8.2,171.0,Prabhas,Anushka Shetty,Telugu,Arka Media Works
1,1,MOV021,Bahubali: The Beginning,S. S. Rajamouli,Epic Fantasy Action,2015.0,180,650,8.1,159.0,Prabhas,Tamannaah,Telugu,NaN
2,2,MOV023,Sye Raa Narasimha Reddy,Surender Reddy,Historical Action,2019.0,200,265,7.1,167.0,Chiranjeevi,Nayanthara,Telugu,Konidela Production Company
3,3,MOV025,Jersey,Gowtam Tinnanuri,Sports Drama,2019.0,20,45,7.8,NaN,Nani,Shraddha Srinath,NaN,Sithara Entertainments
4,4,MOV027,Geetha Govindam,Parasuram,Romantic Comedy,2018.0,10,130,NaN,148.0,Vijay Deverakonda,Rashmika Mandanna,NaN,GA2 Pictures
5,5,MOV029,Dear Comrade,Bharat Kamma,Romantic Drama,2019.0,15,35,7.1,170.0,Vijay Deverakonda,Rashmika Mandanna,NaN,Mythri Movie Makers
6,6,MOV034,Sarileru Neekevvaru,Anil Ravipudi,Action Comedy,NaN,75,260,7.1,169.0,Mahesh Babu,Rashmika Mandanna,Telugu,AK Entertainments
7,7,MOV036,Bheeshma,Venky Kudumula,Romantic Comedy,2020.0,20,50,7.4,145.0,Nithiin,Rashmika Mandanna,Telugu,Sithara Entertainments
8,8,MOV044,Baahubali: The Beginning,S. S. Rajamouli,Epic Fantasy Action,2015.0,180,650,8.1,159.0,Prabhas,Tamannaah,Telugu,Arka Media Works
9,9,MOV052,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,2017.0,250,1810,8.2,171.0,Prabhas,Anushka Shetty,Telugu,Arka Media Works

In [4]:
df.rename(columns={'Unnamed: 0': 'index'}, inplace=True)
df.head()

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,0,MOV004,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,NaN,250,1810,8.2,171.0,Prabhas,Anushka Shetty,Telugu,Arka Media Works
1,1,MOV021,Bahubali: The Beginning,S. S. Rajamouli,Epic Fantasy Action,2015.0,180,650,8.1,159.0,Prabhas,Tamannaah,Telugu,NaN
2,2,MOV023,Sye Raa Narasimha Reddy,Surender Reddy,Historical Action,2019.0,200,265,7.1,167.0,Chiranjeevi,Nayanthara,Telugu,Konidela Production Company
3,3,MOV025,Jersey,Gowtam Tinnanuri,Sports Drama,2019.0,20,45,7.8,NaN,Nani,Shraddha Srinath,NaN,Sithara Entertainments
4,4,MOV027,Geetha Govindam,Parasuram,Romantic Comedy,2018.0,10,130,NaN,148.0,Vijay Deverakonda,Rashmika Mandanna,NaN,GA2 Pictures

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         8 non-null      float64
 6   Budget (Crores)     10 non-null     int64
 7   BoxOffice (Crores)  10 non-null     int64
 8   Rating              9 non-null      float64
 9   Duration (minutes)  9 non-null      float64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            7 non-null      object
 13  ProductionCompany   9 non-null      object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.2+ KB

In [6]:
df[df['ReleaseYear'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
0,0,MOV004,Baahubali 2: The Conclusion,S. S. Rajamouli,Epic Fantasy Action,NaN,250,1810,8.2,171.0,Prabhas,Anushka Shetty,Telugu,Arka Media Works
6,6,MOV034,Sarileru Neekevvaru,Anil Ravipudi,Action Comedy,NaN,75,260,7.1,169.0,Mahesh Babu,Rashmika Mandanna,Telugu,AK Entertainments

In [7]:
df.loc[df["MovieID"] == "MOV004", "ReleaseYear"] = 2017

In [8]:
df.loc[df["MovieID"] == "MOV034", "ReleaseYear"] = 2020

In [9]:
df['ReleaseYear']=df['ReleaseYear'].astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         10 non-null     int64
 6   Budget (Crores)     10 non-null     int64
 7   BoxOffice (Crores)  10 non-null     int64
 8   Rating              9 non-null      float64
 9   Duration (minutes)  9 non-null      float64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            7 non-null      object
 13  ProductionCompany   9 non-null      object
dtypes: float64(2), int64(4), object(8)
memory usage: 1.2+ KB

In [11]:
df['Budget (Crores)']=df['Budget (Crores)'].astype(float)
df['BoxOffice (Crores)']=df['BoxOffice (Crores)'].astype(float)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         10 non-null     int64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              9 non-null      float64
 9   Duration (minutes)  9 non-null      float64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            7 non-null      object
 13  ProductionCompany   9 non-null      object
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ KB

In [13]:
df[df['Rating'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
4,4,MOV027,Geetha Govindam,Parasuram,Romantic Comedy,2018,10.0,130.0,NaN,148.0,Vijay Deverakonda,Rashmika Mandanna,NaN,GA2 Pictures

In [14]:
df['Rating']=df['Rating'].fillna(7.4)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         10 non-null     int64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              10 non-null     float64
 9   Duration (minutes)  9 non-null      float64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            7 non-null      object
 13  ProductionCompany   9 non-null      object
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ KB

In [15]:
df[df['Duration (minutes)'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
3,3,MOV025,Jersey,Gowtam Tinnanuri,Sports Drama,2019,20.0,45.0,7.8,NaN,Nani,Shraddha Srinath,NaN,Sithara Entertainments

In [16]:
df['Duration (minutes)']=df['Duration (minutes)'].fillna(128).astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         10 non-null     int64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              10 non-null     float64
 9   Duration (minutes)  10 non-null     int64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            7 non-null      object
 13  ProductionCompany   9 non-null      object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.2+ KB

In [17]:
df[df['Language'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
3,3,MOV025,Jersey,Gowtam Tinnanuri,Sports Drama,2019,20.0,45.0,7.8,128,Nani,Shraddha Srinath,NaN,Sithara Entertainments
4,4,MOV027,Geetha Govindam,Parasuram,Romantic Comedy,2018,10.0,130.0,7.4,148,Vijay Deverakonda,Rashmika Mandanna,NaN,GA2 Pictures
5,5,MOV029,Dear Comrade,Bharat Kamma,Romantic Drama,2019,15.0,35.0,7.1,170,Vijay Deverakonda,Rashmika Mandanna,NaN,Mythri Movie Makers

In [18]:
df['Language']=df['Language'].fillna('Telugu')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         10 non-null     int64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              10 non-null     float64
 9   Duration (minutes)  10 non-null     int64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            10 non-null     object
 13  ProductionCompany   9 non-null      object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.2+ KB

In [19]:
df[df['ProductionCompany'].isna()]

,index,MovieID,Title,Director,Genre,ReleaseYear,Budget (Crores),BoxOffice (Crores),Rating,Duration (minutes),LeadActor,LeadActress,Language,ProductionCompany
1,1,MOV021,Bahubali: The Beginning,S. S. Rajamouli,Epic Fantasy Action,2015,180.0,650.0,8.1,159,Prabhas,Tamannaah,Telugu,NaN

In [20]:
df['ProductionCompany']=df['ProductionCompany'].fillna('Arka Media Works')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               10 non-null     int64
 1   MovieID             10 non-null     object
 2   Title               10 non-null     object
 3   Director            10 non-null     object
 4   Genre               10 non-null     object
 5   ReleaseYear         10 non-null     int64
 6   Budget (Crores)     10 non-null     float64
 7   BoxOffice (Crores)  10 non-null     float64
 8   Rating              10 non-null     float64
 9   Duration (minutes)  10 non-null     int64
 10  LeadActor           10 non-null     object
 11  LeadActress         10 non-null     object
 12  Language            10 non-null     object
 13  ProductionCompany   10 non-null     object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.2+ KB

In [23]:
df.to_excel('tollywood.xlsx',index= False)